@font-face {
    font-family: 'Noyth Bold Italic';
    src: url('../fonts/NoyhGeometricSlimBoldItalic.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

button {
  width: 250px;
  height: 50px;
  background-color: #05386B;
  cursor: pointer;
  color: #EDF5E1;
  border-radius: 5px;
  font-family: 'Noyth Bold Italic';
  font-size: 4vh;
  border: 3px solid #05386B;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover {
  color: #05386B;
  background-color: #EDF5E1;
}